.body__div{
    background-color: var(--colorFondo);
}

.body__div__h1{
    display: flex;
    justify-content: center;
    font-family: var(--fuente1);
    margin-top: 10px;
    box-shadow: inset;
}