<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'/* ,{
    title : 'register'
} */) %>
<body>
    <h2>Registrate</h2>
    <div>
        <form action="/" method="get">
            <label for="name">Nombre</label>
            <input type="text" name ="name"placeholder="Nombre">
            <label for="surname">Apellido</label>
            <input type="text" name ="surname"placeholder="Apellido">
            <label for="email">Email</label>
            <input type="email" name ="email"placeholder="Email">
            <button type = "submit">registrarme</button>
        </form>
    </div>
</body>
</html>